.product{
    width: 300px;
    height: 500px;
    border: 1px solid red!important;
    border-radius: 8px;
  
}

.product img{
    width: 268px;
    height: 268px;
    margin: 8px;
}
.btn-cart{
    background-color: cornflowerblue;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    
}
.btn-cart .btn-text{
    margin-right: 6px;
}
.btn-cart:hover{
   background-color: orange;
}